:root {
    --white: #ffffff;
    --header-bg: #ece9e9;
    --gray: #868b8b;
    --accent-green-color: #a1f44e;
    --accent-gray-color: #868b8b;
    --header-bottom-gradient: linear-gradient(to right, var(--accent-green-color) 50%, var(--accent-gray-color) 50%);
}